/* src/pages/Home.css */

.home-container {
  padding: 24px;
  height: 100%;
  box-sizing: border-box;

  /* 🔥 Home은 전체 폭 사용 */
  width: 100%;
}


/* Header */
.home-header {
  margin-top: 48px;
}

.home-header h2 {
  font-size: 22px;
  margin-bottom: 6px;
}

.home-subtitle {
  font-size: 14px;
  opacity: 0.6;
}

/* 카드 그리드 */
.home-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* 🔥 좌: 메인 / 우: 보조 */
  gap: 24px;
}


/* 공통 카드 */
.home-card {
  background-color: var(--color-main);
  border-radius: 18px;
  padding: 20px;
  box-sizing: border-box;
}

.home-grid {
  grid-template-columns: 1fr;
}

/* 스트릭 카드 전용 */
.section-card {
  width: 100%;
  max-width: 750px;
  padding: 0;
}
