.sidebar {
  position: fixed;
  top: 60px;
  left: 70px;

  width: 240px; /* 고정 */
  height: calc(100vh - 60px);

  background-color: var(--color-main);
  border-right: 1px solid var(--color-sub);

  transform: scaleX(0);
  transform-origin: left; /* 왼쪽 기준 고정 */

  transition: transform 0.25s ease;
  z-index: 900;
}

.sidebar.open {
  transform: scaleX(1);
}

