# Docker Postgres (Local Dev Defaults)
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=eoWhszn123

# Spring (Local)
POSTGRES_DB_URL=jdbc:postgresql://localhost:5433/synapse
REDIS_HOST=localhost
MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER>.mongodb.net/<DB>?authSource=admin

# JWT
SPRING_JWT_SECRET=your_jwt_secret_here

# Google OAuth (Public Client ID is fine for template if it's for dev)
VITE_GOOGLE_CLIENT_ID=420197127185-dlsboojnsv7ibsopmrfpi9hofvk150h0.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

# Github OAuth
VITE_GITHUB_CLIENT_ID=Ov23li1AmbKDZnqZdWlG
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/auth/github/callback
